* {
    font-family: Courier New, Courier, monospace;
}

.bentler_banner {
    padding: 0px;
    margin: 0px;
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.icon{
    width: auto;
    max-width: 120px;
    height: auto;
    max-height: 120px;
}

.fixed{
    position: fixed;
}
.edgeToedge{
    padding: 0px;
    margin: 0px;
}

.center-text {
    text-align: center;
    color: #282828;
}

.center-icon{
    display: flex;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
}

.spacer-25px {
    margin-top: 25px;
}

.spacer-60px{
    margin-top: 60px;
}

.border-bottom{
    margin-bottom: 50px;
}

.gray-i-like {
    background: #7a7a7a
}

span {
    display: inline-block;
    border-bottom: 1px solid #505050;
    padding-bottom: 2px;

}

.spanP{
    border-bottom: none;
    padding-bottom: none;
}

h2 {
    font-weight: normal;
}

#more{
    display: none;
}