* {
    font-family: Arial, Helvetica, sans-serif;
}

.bentler_banner {
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
}

.center-text {
    text-align: center;
    color: #282828
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
}

.spacer-25px {
    margin-top: 25px;
}

.tt_justify_right {
    font-family: 'Lucida Console';
    text-align: right;
    line-height: 2;
    color: #505050;
}
justify_right {
    text-align: right;
    line-height: 2;
    color: #505050;
}
.justify_text {
    text-align: justify;
    margin-left: 384px;
    margin-right: 384px;
    line-height: 2;
    color: #505050;
}

.gray-i-like {
    background: #7a7a7a
}

.general_center {
    align-content: center;
}