<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | Blockchain</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <script>hljs.highlightAll();</script>
    <div class="container-fluid spacer-60px">
        <div class="container">
            <h2 class="center-text spacer-25px unbold">
                <span class="span-underline">Projects: Making a <strong style="color: red;">Blockchain</strong></span>
            </h2>
            <img src="{{ url_for('static', filename='img/silicon.png')}}" class="center">
            <p class="center-text">One day I'll make a better logo...</p>
            <div class="container center-text spacer-25px">
                <a href="https://github.com/dbentler/fccCoin_in_CPP">
                    <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">Blockchain Source Code</button>
                </a>
            </div>
        </div>
        <div class="container">
            <h4 class="center-text spacer-25px unbold">
                <span class="span-underline">Introduction</span>
            </h4>
            <p class="story-time">
                I've always been intrigued by cryptocurrencies. I remember when I was 13 and stumbled across Bitcoin from a YouTube video,
                and I instantly wanted to get my hands on some. I downloaded the Bitcoin core wallet and created an address and looked online
                on how I could mine some for myself. But alas, my 13 year old brain could not comprehend the technical knowledge required to
                join a mining pool on my mother's HP Laptop running Windows Vista. <br><br>

                "That's fine", I thought, "I'll just purchase some". Those dreams were quickly shut down as the price of one Bitcoin back then
                was ~$250. This was a price an unemployed 13 year old who spent his time playing <i>Halo Reach</i> with his friends could not
                afford. <br><br>

                Anyway, fast forward to 2021. Over the years, I managed to get my hands on various cryptos: Bitcoin Cash, Ethereum, Dogecoin.
                I completely forgot about holding them, until one day I hear that the price of Dogecoin, a cryptocurrency created as a joke,
                had risen to 31 cents. I quickly checked my wallet and lo' and behold, the 81 Dogecoin I was holding was worth $31.00 USD (at the time
                of writing this, those 81 DOGE are now worth $50.82 USD). <br><br>

                With my interest in cryptocurrency suddenly renewed, I decided: "Hey, why not see if I could create my own blockchain? It'll be good
                coding practice and I get a little crypto for my friends and I to fool around with". <br><br>
            </p>
        </div>
        <div class="container">
            <h4 class="center-text spacer-25px unbold">
                <span class="span-underline">Selecting a Language and Learning Fundamentals</span>
            </h4>
            <p class="story-time">
                I knew right from the onset I wanted to use C++ for this personal project, mostly because one of my friends doubted my ability in the
                language. The only issue was: I didn't have a single clue on how to start. <br><br>

                The first thing I wanted to understand is exactly HOW a blockchain works. I stumbled upon this very nice video which explains the basic
                fundamentals by YouTuber <i>3Blue1Brown</i>:
            </p>
            <div class="center-text">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="story-time spacer-25px">
                In the video, <i>3Blue1Brown</i> goes into great detail about <strong>HOW</strong> the public ledger works with digital signatures.
                Not only that, he also goes into how Proof of Work functions with the SHA256 cryptographic hash functions. Not only that, he also describes how "mining" works.
                I'm not going to go directly into the fundamentals on how these things work in this specific section, but I will once we start looking
                at - you guessed it - <i>the code</i>!
            </p>
        </div>
        <div class="container">
            <h4 class="center-text spacer-25px unbold">
                <span class="span-underline">To Fork, To Tokenize, or Build it Yourself</span>
            </h4>
            <p class="story-time">
                Many of the mainstream cryptocurrencies today were built off of Forks of another coin. Litecoin was a fork of Bitcoin, Dogecoin was a fork of Litecoin, etc.
                I didn't want to just make a fork of a coin, as then all I'd have to do is change a few variables and be done with it. <br><br>
                
                I also didn't want to make a Token, which is a coin that runs on top of an already existing blockchain. That would also defeat the purpose
                of this whole thing, which was to "build my own blockchain". <br><br>

                So of course, I googled "How to build your own blockchain", and one of the first links my eyes saw was an article by Free Code Camp's
                <i>Alfrick Opidi</i>.
            </p>
            <div class="center-text">
                <img src="{{ url_for('static', filename='img/fcc.png')}}" style="width: auto; max-width: 1152px; height: auto; max-height: 864px; position: relative;">
                <a href="https://www.freecodecamp.org/news/create-cryptocurrency-using-python/">
                    <p class="center-text">Click here to go to the article.</p>
                </a>
            </div>
            <p class="story-time">
                In the article, Opidi used Python - I want to use C++. But then I had a great idea: "Why don't I just use the article as a guide to write the C++ fundamentals?" <br><br>
                
                And so, that's kind of what I did. It was a great learning experience too, and I got to learn more about specific Python modules and had to get creative with
                reimplementing them in C++. It was also kind of frustrating, and it made me appreciate type declarations since guessing what a random variable is just by name
                can be difficult. <br><br>

                With a feasible guide, I decided it was finally time to get started on writing the code.
            </p>
        </div>
        <div class="container">
            <h4 class="center-text spacer-25px unbold">
                <span class="span-underline">Building Blocks</span>
            </h4>
            <p class="center-text">Warning: Code Ahead!</p>
            <p class="story-time spacer-25px">
                The first thing I did was look over the article and figure out what I should pieces of code I should delegate to other classes. Opidi had made all of the code
                within a single <code>py</code> file. While I could do this in C++, I also wanted to practice good coding styles. <br><br>

                The first thing I did was create two header files: One for the Block object, and the other for the Blockchain. I decided to work on the Block object first, since
                well... you can't really have a Blockchain without Blocks.<br><br>

                Blocks are actually quite simple objects. At their core, they store 5 separate data types: <br>
                <ul class="story-time">
                    <li>An Index Number of type <code>int</code>, which tells users where the block is located within the Blockchain.</li>
                    <li>A Proof Number of type <code>int</code>, a number which can be used to verify the block in the chain.</li>
                    <li>The hash of the previous block, of type <code>string</code>.</li>
                    <li>Some form of data. Such as transactions or smart contracts. It needs to be able to grow, so <code>std::array</code> is out of the question.
                        This can be stored in a <code>std::vector</code></li>
                    <li>A timestamp of when the block was created, which can be represented as <code>std::string</code></li>
                </ul>
            </p>
            <p class="story-time">
                Of course, these data types cannot be changed once the block is created, or else the entire blockchain could be compromised. So what I did when I created
                the <code>Block.h</code> file was store all of that data within private variables:
            </p>
            <div class="container center-text">
                <pre>
                    <code class="lang-cpp">
                        #ifndef BLOCK_H 
                        #define BLOCK_H
                        
                        #include &lt;iostream&gt;
                        #include &lt;time.h&gt;
                        #include &lt;string&gt;
                        #include &lt;vector&gt;
    
                        class Block{
                            private:
                                int blockIndex; 
                                int blockProofNum;
                                std::string blockPrevHash;
                                std::vector&lt;std::string&gt; blockData;
                                std::string blockTimeStamp;
                        };
                        #endif
                    </code>
                </pre>
                <p class="center-text">Syntax Highlighting provided by <a href="https://prismjs.com/">Prism</a></p>
            </div>
            <p class="story-time">
                Of course, while we're in Block.h we might as well set up our function prototypes. We'll also need a cryptographic hashing function. 
                I chose to go with SHA256, which I obtained as a header file as well. I didn't feel the need to
                download a whole cryptographic library for just one small project.

                Below is the completed <code>Block.h</code> file with all of our function protoypes set up.
                I didn't include the <code>SHA256.h</code> as it's quite large. If you're interested in checking it out, feel free to check this project's source code.
            </p>
            <div class="container center-text">
                <pre>
                    <code class="lang-cpp">
                        #ifndef BLOCK_H 
                        #define BLOCK_H
                        
                        #include "SHA256.h"

                        #include &lt;iostream&gt;
                        #include &lt;time.h&gt;
                        #include &lt;string&gt;
                        #include &lt;vector&gt;
    
                        class Block{
                            private:
                                int blockIndex; 
                                int blockProofNum;
                                std::string blockPrevHash;
                                std::vector<std::string> blockData;
                                std::string blockTimeStamp;
                                
                            public:
                                Block(const int& index, const int& proofNum, const std::string& prevHash, const std::vector&lt;std::string&gt;& data);
                        
                                ~Block();
                        
                                std::string calculateHash();
                        
                                friend std::ostream& operator <<(std::ostream& os, const Block& block);
                        
                                //Time
                                friend const std::string currentDateTime();
                        
                                //Helper functions to access private block variables.
                                int checkIndex();
                                std::string checkTimeStamp();
                                std::string checkHash();
                                int getProofNum();
                        };
                        
                        std::ostream& operator <<(std::ostream& os, const Block& block);
                        
                        const std::string currentDateTime();
                        
                        #endif
                    </code>
                </pre>
            </div>
            <p class="story-time">
                With our function prototypes set up, we can start properly defining <code>Block.cpp</code>. What better place to start than defining our constructor? <br><br>

                The role of the constructor is build the block data, so all there really is to do is just assign the private variables to something:
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        #include "Block.h"

                        Block::Block(const int& index, const int& proofNum, const std::string& prevHash, const std::vector&lt;std::string&gt;& data){
                            blockIndex = index;
                            blockProofNum = proofNum;
                            blockPrevHash = prevHash;
                            blockData = data;
                            blockTimeStamp = currentDateTime();
                        }
                    </code>
                </pre>
            </div>
            <p class="story-time">
                Everything seems good except for <code>blockTimeStamp</code>, which is expecting a return from <code>currentDateTime()</code>. Since I wanted our timestamp
                to be human readable, we can define <code>currentDateTime()</code> as the following (and yes, I did get this code off of cppreference):
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        // Get current date/time, format is YYYY-MM-DD.HH:mm:ss
                        const std::string currentDateTime() {
                            time_t     now = time(0);
                            struct tm  tstruct;
                            char       buf[80];
                            tstruct = *localtime(&now);
                            // Visit http://en.cppreference.com/w/cpp/chrono/c/strftime
                            // for more information about date/time format
                            strftime(buf, sizeof(buf), "%Y-%m-%d.%X", &tstruct);
                        
                            return buf;
                        }
                    </code>
                </pre>
            </div>
            <p class="story-time">
                Eventually, we'll also want to be able to print out the block with <code>std::cout</code> for viewing purposes. So with a little operator overloading...
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        std::ostream& operator <<(std::ostream& os, const Block& block){
                            os << "{" << std::endl;
                            os << "Block Index: " << block.blockIndex << std::endl;
                            os << "Block Proof: " << block.blockProofNum << std::endl;
                            os << "Previous Hash: " << block.blockPrevHash << std::endl;
                            os << "Block Data: ";
                            for(auto i : block.blockData){
                               if(i != block.blockData.back()){
                                    os << i << ", ";
                                } else {
                                    os << i;
                                }
                           }
                           os << "\nBlock Time Stamp: " << block.blockTimeStamp << std::endl;
                           os << "}" << std::endl;
                           return os;
                        }
                    </code>
                </pre>
            </div>
            <p class="story-time">
                Badda-bing badda boom! When we eventually use <code>std::cout</code> on our Genesis block, it'll come out nice and formatted like this:
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        //Letting x be a placeholder for an int or string
                        {
                        Block Index: 0
                        Block Proof: 0
                        Previous Hash: 0
                        Block Data:
                        Block Time Stamp: XX/XX/XXXX
                        }
                    </code>
                </pre>
            </div>
            <p class="story-time">
                Utilizing <code>SHA256.h</code>, we can also very easily get the hash of all of this block's data. For now I just have all of the information
                concatenate into a string, and then hash that resulting string.
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        std::string Block::calculateHash(){
                            //TO DO, find a better way to calculate the hash of the block.
                            std::string blockAsString;
                            blockAsString = std::to_string(blockIndex) + std::to_string(blockProofNum) + blockPrevHash;
                            std::string dataString;
                            
                            for (auto i : blockData){
                                dataString += i;
                            }
                        
                            blockAsString += (dataString + blockTimeStamp);
                        
                            return sha256(blockAsString);
                        }
                    </code>
                </pre>
            </div>
            <p class="story-time">
                And with that, we now have a functioning Block object. It's able to store important information about itself, calculate it's hash, and output itself
                in a user-readable format. With the exception of defining a few helper functions (which are used to just <code>return</code> private variables), we
                are ready to begin building the blockchain. <br><br>

                <i>I'll be utilizing those helper functions later on within the blockchain. If you want to see how they are defined, you can check out</i> <code>Block.cpp</code>
                <i>on my github:</i>
            </p>
            <div class="container center-text spacer-25px">
                <a href="https://github.com/dbentler/fccCoin_in_CPP/blob/main/src/Block.cpp">
                    <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">Block.cpp Source Code</button>
                </a>
            </div>
        </div>
        <div class="container">
            <h4 class="center-text spacer-25px unbold">
                <span class="span-underline">Chaining Blocks Together</span>
            </h4>
            <p class="story-time">
                Now that we have our <code>Block.cpp</code> and <code>Block.h</code> done, we can finally start work on building the blockchain. <br><br>
                Here we want every new Block's previous hash to point to block that came before it. We also out block index to represent it's place
                within our chain:
            </p>
            <div class="center-text">
                <img src="http://spheregen.com/wp-content/uploads/2019/04/blockchain.png">
                <p>Diagram of a blockchain.</p>
            </div>
            <p class="story-time">
                We'll also need our blockchain to be secure, so we'll need it to do the following:
                <ul class="story-time">
                    <li>Construct the first (genesis) block.</li>
                    <li>Construct new blocks for the chain.</li>
                    <li>Check the validity of new blocks.</li>
                    <li>Hold transactions that will then be added to the new block upon creation.</li>
                    <li>Utilize proof of work as a way for users to verify and mine new blocks.</li>
                </ul>
            </p>
            <p class="story-time">
                With these factors in mind, we can set up our <code>Blockchain.h</code> file like this:
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        #ifndef BLOCKCHAIN_H
                        #define BLOCKCHAIN_H
                        
                        #include "Block.h"
                        
                        class BlockChain{
                            private:
                            std::vector&lt;Block&gt; chain; // Keeps all blocks. Maybe a vector isn't the best for this?
                            std::vector&lt;std::string&gt; currentData; // Keeps all completed transactions in the block.
                        
                        
                            public:
                                BlockChain();
                                
                                //Constructs Initial Block
                                void constructGenesis();
                        
                                //Constructs and adds new block to chain.
                                Block constructBlock(const int& proofNum, const std::string& prevHash);
                        
                                //Checks whether or not the Blockchain is valid
                                bool checkValidity(Block& newBlock);
                        
                                //Adds a new transaction to the data of the transaction
                                bool newData(const std::string& Sender, const std::string& Receiver, const std::string& Amount);
                        
                                // Protects blockchain from attack
                                int proofOfWork(const int& lastProof);
                        
                                bool verifyProof(const int& lastProof, const int& proofNum);
                        
                        
                                //Returns last block in the chain
                                Block lastBlock();
                        
                                void viewLastBlock();

                                //Prints out entire chain
                                void viewChain();
                        };
                        
                        #endif
                    </code>
                </pre>
                <p class="center-text"><i>Noncoders: I like your words magic man!</i></p>
            </div>
            <p class="story-time">
                Fantastic! I put <code>std::vector&lt;Block&gt; chain</code> and <code>std::vector&lt;string&gt; currentData</code> as private variables because I only want
                the Blockchain class to interact with them. <br><br>

                Diving into <code>Blockchain.cpp</code> now, we can utilize our constructor to construct the genesis block. This is quite easy to do - all that we need is for
                the constructor to call <code>constructGenesis()</code>, which can be defined the following way:
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        #include "BlockChain.h"

                        BlockChain::BlockChain(){
                            constructGenesis();
                        }
                        
                        void BlockChain::constructGenesis(){
                            constructBlock(0, "0");
                        }
                    </code>
                </pre>
                <p class="center-text"><i>Here we are passing in an index of 0 and a proof number of 0 for the genesis block.</i></p>
            </div>
            <p class="story-time">
                Of course, <code>constructGenesis()</code> is calling our BlockChain's <code>constructBlock()</code>. Defining <code>constructBlock()</code>
                is pretty simple of course: We want to construct a new <code>Block</code> object, give that <code>Block</code> some information, verify if it's
                a valid block, and then add that block to the chain. If the block does get added to the chain, we also want to clear any data the Blockchain is
                holding after we pass it into the block. <br><br>

                Here's how we would implement that:
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        Block BlockChain::constructBlock(const int& proofNum, const std::string& prevHash){
    
                            Block block(chain.size(), proofNum, prevHash, currentData);
                        
                            currentData.clear(); // Clears transaction data for new blocks.
                        
                            if (block.checkIndex() == 0){ // This isn't secure. When I revist this I will work out a fix and update this section accordingly.
                                chain.push_back(block);
                                return block;
                            }
                            if (block.checkIndex() != 0){
                                if (checkValidity(block)){
                                    chain.push_back(block);
                                    return block;
                                } else {
                                    std::cout << "Block Rejected: invalid block!" << std::endl;
                                    return block;
                                }
                            }
                        }
                        
                        bool BlockChain::checkValidity(Block& newBlock){
                            if (newBlock.checkIndex() < lastBlock().checkIndex()){
                                return false;
                            } else if (newBlock.checkHash() != lastBlock().calculateHash()){
                                return false;
                            } else if (!(verifyProof(newBlock.getProofNum(), lastBlock().getProofNum()))){
                                return false;
                            } else {
                                return true;
                            }
                        }
                        
                    </code>
                </pre>
            </div>
            <p class="story-time">
                Now I know what you may be asking: <i>"Hey Darren, what's that <code>verifyProof()</code>" function doing in <code>checkValidity()</code>"?</i>
                That's part of our Proof of Work that we haven't implemented yet! <br><br>

                Say, what is Proof of Work anyway? How do we implement it?
            </p>
        </div>
        <div class="container">
            <h4 class="center-text spacer-25px unbold">
                <span class="span-underline">Proof of Work</span>
            </h4>
            <p class="story-time">
                At it's simplest, Proof of Work is when a "certain amount of computational effort has been expended for some purpose".
                This computational effort is the "Mining" that people do in order to verify a block. <br><br>

                Think of it as a very hard algebra problem, where <code>x + y = z</code>:
                <ul class="story-time">
                    <li><code>x</code> is unknown.</li>
                    <li><code>y</code> is known (the previous proof number)</li>
                    <li><code>z</code> is also unknown, but we know is must start with a certain number or amount of characters.</li>
                </ul>
            </p>
            <p class="story-time">
                "Miners" basically try to guess the value of <code>x</code>, hash it with the value of <code>y</code>, and hope that they somehow
                get the answer to <code>z</code> before anyone else does. If they do, they can add a unique transaction to the Blockchain data that rewards
                them with some cryptocurrency. <br><br>

                Those who don't guess the correct values in time won't be rewarded with any cryptocurrency, but they are able to verify the correct guesser's
                work by checking if those <code>x</code> and <code>y</code> values truly equal z. <br><br>

                The "difficulty" of mining can be changed by changing what <code>z</code> must start with. For example, in the code below I want my <code>z</code>
                values to begin with four leading zeros: <code>0000xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</code>.
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        bool BlockChain::verifyProof(const int& lastProof, const int& proofNum){
                            std::string guess = std::to_string(lastProof) + std::to_string(proofNum);
                            std::string guessHash = sha256(guess);
                            std::cout << "# Trying: " << guess << " | Proof: "<< proofNum << std::endl;
                            if(guessHash.substr(0, 4) == "0000"){ // You can change the difficulty by adding or removing 0's (and updating substr). More 0's means higher difficulty.
                                std::cout << "# FOUND: " << guessHash << std::endl;
                                return true;
                            }
                            return false;
                        }                        
                    </code>
                </pre>
            </div>
            <p class="story-time">
                If <code>verifyProof()</code> returns true, the <code>proofNum</code> would then be added to the new Block in the Blockchain. <br><br>

                Verifiers than can get the new Block's proof number with the previous Block's proof. If they check out, then the block is added to the chain. <br><br>

                And of course, if someone wants to become a miner on the chain, the function for that would look like this:
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        int BlockChain::proofOfWork(const int& lastProof){
                            int proofNum = 0;
                            while(verifyProof(proofNum, lastProof) == false){
                                ++proofNum;
                            }
                            return proofNum;
                        }                   
                    </code>
                </pre>
            </div>
        </div>
        <div class="container">
            <h4 class="center-text spacer-25px unbold">
                <span class="span-underline">Wrapping Things Together</span>
            </h4>
            <p class="story-time">
                All that's really left in <code>Blockchain.cpp</code> is to define our helper functions, and a way to view the blockchain.
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        Block BlockChain::lastBlock(){
                            return chain.back(); // This returns a reference of the last Block Object
                        }
                        
                        void BlockChain::viewLastBlock(){
                            std::cout << lastBlock(); // Sole purpose is to view the last block.
                        }
                        
                        void BlockChain::viewChain(){
                            for(auto block : chain){
                                std::cout << block << std::endl;
                            }
                        }              
                    </code>
                </pre>
            </div>
            <p class="story-time">
                And we are done! <code>Blockchain.h</code> and <code>Blockchain.cpp</code> are finally complete. <br><br>
                Now we can finally build our <code>main.cpp</code> file to test everything out. I personally set it to mine 3 blocks and then
                display our Blockchain.
            </p>
            <div class="container">
                <pre>
                    <code class="lang-cpp">
                        #include "BlockChain.h"

                        int main(){
                           BlockChain blockchain = BlockChain();
                           std::cout << "***Mining 3 additional blocks***" << std::endl;
                           for(int i = 0; i < 3; i++){
                              Block lastBlock = blockchain.lastBlock();
                              int lastProof = lastBlock.getProofNum();
                              int proofNum = blockchain.proofOfWork(lastProof);
                        
                              blockchain.newData("Darren", "Not Darren", "1.0");
                              std::string lastHash = lastBlock.calculateHash();
                              Block newBlock = blockchain.constructBlock(proofNum, lastHash);
                           }
                           std::cout << "***Done mining 3 blocks***" << std::endl;
                           blockchain.viewChain();
                        }            
                    </code>
                </pre>
            </div>
            <p class="story-time">
                After that, we just simply link all of our header files and compile, and we can see our blockchain and proof of work in action.
            </p>
            <div class="center-text">
                <img src="{{ url_for('static', filename='img/crypto.png')}}" style="width: auto; max-width: 1152px; height: auto; max-height: 864px; position: relative;">
            </div>
        </div>
        <div class="container spacer-25px">
            <h4 class="center-text unbold">
                <span class="span-underline">Conlusion</span>
            </h4>
            <p class="story-time">
                That wraps up my little cryptocurrency adventure. I hope you found reading about it fun and easy to follow. <br><br>
    
                I decided to name this coin "Silicoin", a pun on the word "Silicon", and eventually distribute it amongst my friends and use it as a medium of
                exchange for virtual goods. <br><br>
    
                For example: In Settler's of Catan, instead of trading 3 sheep for 1 brick, you could trade X amount of Silicoin instead. Or you can use it
                as a sort of "Poker Chip" amongst your friends. <br><br>
    
                To do that though, I'll need to learn TCP networking and revisit how I handle transaction data. Not only that, I'll have to create
                a function wallet, and learn public-secret key encryption so I can implement digital signatures. Maybe that'll be a future project of mine.
            </p>
        </div>
        <div class="container center-text spacer-25px">
            <a href="/projects">
                <button type="button" id="back" onclick="" class="btn btn-dark btn-lg">Go Back to Projects</button>
            </a>
            <a href="https://github.com/dbentler/fccCoin_in_CPP">
               <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">Blockchain Source Code</button>
            </a>
        </div>
    </div>
    {% endblock %}
</body>
</html>