<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | Blockchain</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid spacer-60px">
        <div class="container">
            <h2 class="center-text spacer-25px unbold">
                <span class="span-underline">Projects: Making a <strong style="color: red;">Blockchain</strong></span>
            </h2>
            <img src="{{ url_for('static', filename='img/silicon.png')}}" class="center">
            <p class="center-text">One day I'll make a better logo...</p>
            <div class="container center-text spacer-25px">
                <a href="https://github.com/dbentler/fccCoin_in_CPP">
                    <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">Blockchain Source Code</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container markdown">
        {{ text|markdown }}
    </div>
    {% endblock %}
</body>
</html>