<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | Home</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid edgeToedge">
        <image src="{{ url_for('static', filename='img/new_banner.png') }}" class="bentler_banner">
    </div>
    <div class="container-fluid">
        <div class="container">
            <!--Type writer letter containers-->
            <div class="container">
                <h1 class="center-text spacer-25px unbold">
                    <span>A <strong style="color:red">Quick</strong> Introduction</span>
                </h1>
                <div class="container spacer-25px">
                    <image src="{{ url_for('static', filename='img/profile_pic.png') }}" class="center">
                </div>
                <div class="center-text spacer-25px">
                    <p style="font-size: 24px;">
                        Welcome! I'm a Computer Science undergrad at New York University's Tandon School of Engineering, and
                        I currently live in South Huntington, New York. <br> <br>

                        Outside of school, I work on personal projects, create and edit videos, and I play badminton.<br> <br>

                        Feel free to look around the site. You can find more detailed information via the navigation
                        bar above.<br> <br>

                        -Darren Bentler
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>