<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | Home</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid edgeToedge">
        <image src="{{ url_for('static', filename='img/new_banner.png') }}" class="bentler_banner">
    </div>
    <div class="container-fluid">
        <div class="container">
            <!--Type writer letter containers-->
            <div class="container">
                <h1 class="center-text spacer-25px unbold">
                    <span>A <strong style="color:red">Quick</strong> Introduction</span>
                </h1>
                <div class="container spacer-25px">
                    <image src="{{ url_for('static', filename='img/profile_pic.png') }}" class="center">
                </div>
                <div class="center-text spacer-25px">
                    <p style="font-size: 24px;">
                        Welcome! I'm a Computer Science undergrad at New York University's Tandon School of Engineering, and
                        I currently live in South Huntington, New York. <br> <br>

                        Outside of school, I work on personal projects, create and edit videos, and I rock climb.<br> <br>

                        Feel free to look around the site. You can find more detailed information via the navigation
                        bar above. If time is short, continue scrolling for more "elevator pitch" style information.<br> <br>
                    </p>
                </div>
                <!--Start Skills-->
                <div class="container">
                    <h1 class="center-text spacer-25px unbold">
                        <span> <strong>Skills</strong></span>
                    </h1>
                    <h3 class="center-text spacer-25px unbold">
                        <span>Languages</span>
                    </h3>
                </div>
                <div class="container spacer-25px center-text">
                    <div class="row justify-content-center">
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/python.png') }}" alt="">
                            <p>Python</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/cpp.png') }}" alt="">
                            <p>C++</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/java.png') }}" alt="">
                            <p>Java</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/csharp.png') }}" alt="">
                            <p>C#</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/javascript.png') }}" alt="">
                            <p>JavaScript</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/html.png') }}" alt="">
                            <p>HTML5</p>
                        </div>
                    </div>
                    <h3 class="center-text spacer-25px unbold">
                        <span>Software</span>
                    </h3>
                    <div class="row justify-content-center">
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/vs-studio.png') }}" alt="">
                            <p>Visual Studio</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/vs-code.png') }}" alt="">
                            <p>Visual Studio Code</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/eclipse.png') }}" alt="">
                            <p>Eclipse IDE</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/git.png') }}" alt="">
                            <p>Git</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/microsoft-office.png') }}" alt="">
                            <p>Microsoft Office Suite</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/putty.png') }}" alt="">
                            <p>Putty</p>
                        </div>
                    </div>
                    <div class="center">
                        <img class="icon" src="{{ url_for('static', filename='img/adobe.png') }}" alt="">
                        <p>Adobe Creative Suite</p>
                    </div>
                    <h3 class="center-text spacer-25px unbold">
                        <span>Frameworks</span>
                    </h3>
                    <div class="row justify-content-center">
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/bootstrap.png') }}" alt="">
                            <p>Bootstrap</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/flask.png') }}" alt="">
                            <p>Flask</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 thumb">
                            <img class="icon" src="{{ url_for('static', filename='img/unity.png') }}" alt="">
                            <p>Unity</p>
                        </div>
                    </div>
                </div>
                <!--End Skills-->
            </div>
            <!--End Intro container-->
            <!--Start Education. From here on out I'm going to be putting stuff in their own separate containers-->
            <div class="container">
                <h1 class="center-text unbold">
                    <span><strong>Education</strong></span>
                </h1>
                <!--Start Education text-->
                <p style="font-size: 18px;">
                <span><strong>New York University</strong> | New York City, New York</span> <br>
                <strong>Graduation Date: </strong>May 2022 <br>
                <i>Bachelor's of Science in Computer Science and Engineering</i><br>
                <strong>Relevant Coursework:</strong> <br>
                Intro to Python, Data Structures and Algorithms, Data Structures and Algorithms in C++, Calculus I, Calculus II, Physics and Mechanics I, General Chemistry, Engineering Forum.
                </p>
            </div>
            <!--End Education-->
            <div class="container">
                <h1 class="center-text unbold">
                    <span><strong>Experience</strong></span>
                </h1>
                <p style="font-size: 18px;">
                <span><strong>Starbucks</strong> | South Huntington, New York</span> <br>
                <strong>Barista</strong> | <i>May 2019 - April 2021</i>
                </p>
                <ul style="font-size: 18px;">
                    <li>Greeted Guests in an enthusiastic and professional manner.</li>
                    <li>Worked closely with Shift Supervisors and Management to ensure smooth and efficient daily operations.</li>
                    <li>Provided the "Starbucks Experience" through the creation of quality beverages, prompt service, and forming connections with Guests over each cup of coffee in a personal and friendly manner.</li>
                </ul>
                <p style="font-size: 18px;">
                <strong>Additional Notes:</strong> Receipient of "Partner of the Week" award throughout March 2020 - June 2020.
                </p>

                <p style="font-size: 18px;">
                <span><strong>LW Network</strong> | United States</span> <br>
                <strong>Server and Community Director</strong> | <i>June 2019 - December 2019</i>
                </p>
                <ul style="font-size: 18px;">
                    <li>Communicated effectively with lower administration in order to ensure efficient daily operations.</li>
                    <li>Configured and performed daily maintenance on dedicated servers to ensure prompt, uninterrupted service to users.</li>
                    <li>Innovated on and implemented community suggestions.</li>
                    <li>Built and maintained a web forum for the purpose of organization and community-admin interactions.</li>
                </ul>
                <p style="font-size: 18px;">
                    <strong>Additional Notes: </strong>The LW Network was a series of game servers I created with the help of my friends: Brock Radford, Brennen Kosmeh, and Justin Sigai.
                    At its height, we provided a factions-based (think the video game "Rust") gameplay system to a community of hundreds of members. I managed our servers, utilizing Putty to access
                    our OVH boxes, as well as developed plugins to assist us in daily operations. Check out my "Projects" page for more information.
                </p>

                <p style="font-size: 18px;">
                <span><strong>South Huntington Union Free School Dristrict</strong> | South Huntington, New York</span> <br>
                <strong>Lamplighters</strong> | <i>October 2015 - June 2018</i>
                </p>
                <ul style="font-size: 18px;">
                    <li>Managed Winter and Spring Concerts on behalf of SHUFSD.</li>
                    <li>Provided lighting assistance for Walt Whitman High School's annual "Lip Synch Battle".</li>
                    <li>Assisted in transitions for plays and musicals performed by Walt Whitman High School's Thespian Society.</li>
                    <li>Assisted in running Light Cues for Walt Whitman High School's annual "International Night" stage performances.</li>
                </ul>
                <p style="font-size: 18px;">
                    <strong>Additional Notes: </strong> Lamplighters is an after-school organization that focuses on the Backstage work for District-wide events and/or performances.
                </p>
                <div class="container center-text">
                    <button type="button" id="resume" onlick="downloadResume()" class="btn btn-success btn-lg">Download Resumé</button> 
                </div>
            </div>
            <!--End Experience-->
            <div class="container">
                <h1 class="center-text unbold spacer-25px">
                    <span>What <strong style="color: red">I've</strong> Done</span>
                </h1>
                <div class="container center-text spacer-25px">
                    <button type="button" id="github" onclick="redirectGitHub()" class="btn btn-dark btn-lg">GitHub (Programming, Source Code)</button>
                    <button type="button" id="projects" onclick="redirectProjects()" class="btn btn-dark btn-lg">Projects (Completed)</button>
                </div>
            </div>
            <!--End Quick Portfolio... are you reading my HTML code?-->
            <div class="container spacer-25px">
                <h1 class="center-text unbold spacer-25px">
                    <span>How to <strong style="color: red">Contact</strong> Me</span>
                </h1>
                <div class="container">
                    <h4 class="center-text unbold spacer-25px">
                        Let's be Social!
                    </h4>
                    <div class="container center-text spacer-25px">
                        <button type="button" id="linkedin" onclick="redirectLinkedIn()" class="btn btn-dark btn-lg">LinkedIn</button>
                        <button type="button" id="instagram" onclick="redirectInstagram()" class="btn btn-dark btn-lg">Instagram</button>
                        <button type="button" id="github" onclick="redirectGitHub()" class="btn btn-dark btn-lg">GitHub</button>
                    </div>
                    <h4 class="center-text unbold spacer-25px">
                        For more personal matters:
                    </h4>
                    <p style="text-align: center; color: #282828; font-size: 20px;">
                        <strong>Primary Email: </strong>ny.dbentler@gmail.com <br>
                        <strong>Secondary Email: </strong>darren.bentler@nyu.edu <br>
                        <strong>Cell Number: </strong>+1 (631) 408-1093 <br>
                    </p>
                </div>
            </div>
            <!--End Contact Information-->
        </div>
    </div>
    {% endblock %}
</body>
</html>