<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | LW-Network</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <script>hljs.highlightAll();</script>
    <div class="container-fluid spacer-60px">
        <div class="container">
            <h2 class="center-text spacer-25px unbold">
                <span class="span-underline">Projects: The <strong style="color: red;">LW</strong>-Network</span>
            </h2>
            <img src="{{ url_for('static', filename='img/lw_network.png')}}" class="center">
            <p class="center-text">Don't worry, we'll dive into this soon enough</p>
            <div class="container center-text spacer-25px">
                <a href="https://github.com/dbentler/LW-Core">
                    <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">LW-Core</button>
                </a>
                <a href="https://github.com/dbentler/LW-Hub">
                    <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">LW-Hub</button>
                </a>
                <a href="https://github.com/dbentler/PunishGUI">
                    <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">Punish GUI</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container markdown">
        {{ text|markdown }}
    </div>
    {% endblock %}
</body>
</html>