<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | NYC GTFS Render</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid spacer-60px">
        <div class="container">
            <h2 class="center-text spacer-25px unbold">
                <span class="span-underline">Projects: Rendering the NYC <strong style="color: red;">Subway</strong> with GTFS Data</span>
            </h2>
            <div class="center-text">
                <img src="{{ url_for('static', filename='img/nyc_subway.png')}}" style="width: auto; max-width: 768px; height: auto; max-height: 576px;">
            </div>
            <p class="center-text">The final render</p>
            <div class="container center-text spacer-25px">
                <a href="https://github.com/dbentler/NYC-Subway-From-GTFS-Data">
                    <button type="button" id="linkedin" onclick="" class="btn btn-dark btn-lg">Source Code (Github)</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container markdown">
        {{ text|markdown }}
    </div>
    {% endblock %}
</body>
</html>