<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | Qna Personal</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid spacer-60px">
        <div class="container">
            <h1 class="center-text spacer-25px unbold">
                <span class="span-underline">Questions and <strong style="color: red;">Answers</strong>, but more <strong style="color: red;">Personal</strong></span>
            </h1>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Did you create this page because you're having fun making your website?</span>
            </h5>
            <p class="center-text">
                A: Haha, yes.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Why is the site powered by "duct tape and pure will"?</span>
            </h5>
            <p class="center-text">
                A: I thought it was funny to include at the footer.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Favorite coffee blend?</span>
            </h5>
            <p class="center-text">
                A: Starbuck Reserve's "Whiskey Barrel Aged Cold Brew". It's pretty nice.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Are there any secret pages on the website?</span>
            </h5>
            <p class="center-text">
                A: Yes. Can you find them?
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: No one's going to read this, I hope you know that.</span>
            </h5>
            <p class="center-text">
                A: Jokes on you, you're reading it right now!
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Why this font?</span>
            </h5>
            <p class="center-text">
                A: It's the same font from my grandfather's typewriter. He passed in 2019. He used to write me letters in this font. I like the font.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Dude! We used to be childhood friends! Can I get in touch?</span>
            </h5>
            <p class="center-text">
                A: Of course! Feel free to contact me! :)
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Can you build me a website?</span>
            </h5>
            <p class="center-text">
                A: Send me an email and we can potentially work something out.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Favorite color?</span>
            </h5>
            <p class="center-text">
                A: <strong style="color: red">Red</strong>.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: If you could have one superpower, what would it be and why?</span>
            </h5>
            <p class="center-text">
                A: The ability to fly so I don't have to deal with traffic on the Northern State or LIE ever again.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Don't you have a TikTok?</span>
            </h5>
            <p class="center-text">
                A: I plead the fifth, your honor.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Favorite book?</span>
            </h5>
            <p class="center-text">
                A: I don't have one unfortunately, but I do want to read more books! Recommend me some via the "Contact Me" page!
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Favorite movies?</span>
            </h5>
            <p class="center-text">
                A: "Guardians of the Galaxy" because space, "Iron Man 2" for the "I need to put a head in there" scene.
            </p>
        </div>
        <div class="container spacer-25px">
            <h5 class="center-text unbold">
                <span class="span-underline">Q: Favorite comedian?</span>
            </h5>
            <p class="center-text">
                A: Bo Burnham and John Mulaney. I've actually been compared to John Mulaney multiple times, which is a bit odd in my opinion.
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>