<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Darren Bentler | Questions and Answers</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid spacer-60px">
        <div class="container">
            <h1 class="center-text spacer-25px unbold">
                <span>Test <strong style="color: red;">Page</span>
            </h1>
        </div>
        <div class="container">
            {{ text|markdown }}
        </div>
    </div>
    {% endblock %}
</body>
</html>