* {
  background-color: #F0EFEF;
  font-family: Courier New, Courier, monospace;
}

.icon{
  width: auto;
  max-width: 120px;
  height: auto;
  max-height: 120px;
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
  color: #282828;
}

.span-underline {
  display: inline-block;
  border-bottom: 1px solid #505050;
  padding-bottom: 2px;
}
